.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b3fa0d;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue {
    background-color: #00ff22;
}